/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.back-link {
  margin-bottom: 20px;
}

.container-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
}

#datetime-picker {
  /* margin-bottom: 20px;
  margin-right: 8px; */
  border-radius: 4px;
  width: 272px;

  background: #fff;

  border: 1px solid #808080;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  padding: 8px 16px;
}

button[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border-style: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  background: #4e75ff;
}

button[data-start]:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

button[data-start]:hover {
  background: #6c8cff;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
/* -----Snackbar----- */

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[type='number'] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type='number']:hover {
  border: 1px solid #000;
  border-radius: 4px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;

  gap: 10px;
}

fieldset:hover {
  border-radius: 4px;
  stroke-width: 1px;
  border-color: #000;
}

legend {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: 28px;
}

.radio-label {
  display: flex;
  flex-direction: row;
  gap: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}

label input[type='radio'] {
  margin-right: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4c6ef5;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #3b5bdb;
}
